
esercizi/unit 4 - D2. PT – Attacchi alle Web APP (3)/XSS reflection e SQLInjection.docx
esercizi/unit 4 - D2. PT – Attacchi alle Web APP (3)/Nuovo Documento di testo.txt
esercizi/unit 4 - D3. PT – Attacchi ai sistemi/D3. PT – Attacchi ai sistemi parte 1.docx
esercizi/unit 4 - D3. PT – Attacchi ai sistemi/D3. PT – Attacchi ai sistemi parte 2.docx
esercizi/unit 4 - D4. PT – Attacchi alle reti (1)/D4. PT – Attacchi alle reti (1).docx
